<nav class="bg-gray-50 dark:bg-gray-700">
  <div class="py-3 mx-auto max-w-screen-xl md:px-6">
    <div class="flex items-center">
      <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
        <li>
          <a
            class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white"
            href="/dashboard/create-post"
          >Create New Post</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{#if posts.length}}

  <div class="m-auto">
    {{#each posts as |post|}}
      <div
        class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md m-auto dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="/dashboard/edit/{{id}}">
          <h5
            class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"
          >{{title}}</h5>
        </a>
        <p
          class="mb-3 font-normal text-gray-500 dark:text-gray-400"
        >{{text}}</p>
        <a
          href="/dashboard/edit/{{post.id}}"
          class="inline-flex items-center text-blue-600 hover:underline"
        >
          Edit post
          <svg
            class="ml-2 w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          ><path
              d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"
            ></path><path
              d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"
            ></path></svg>
        </a>
        <a
          onclick="deleteFormHandler({{post.id}})"
          data-id="{{post.id}}"
          class="cursor-pointer ml-5 inline-flex items-center text-blue-600 hover:underline"
        >
          Delete post
        </a>
      </div>
    {{/each}}
  </div>

{{/if}}

<script src="/js/delete-post.js"></script>